body {
    margin: 0;
    background-image: url("../bushcraft.jpg");padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
      }

      .social-media {
        text-align: center;
        font-size: 75px;
        padding-top: 100px;
    }
    p> {
        color: white;
    }
    .h1 {
      text-align: center;
      color: white;
      font-size: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }