body {
    margin: 0;
    background-image: url("../bushcraft.jpg");padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
      }

nav{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: antiquewhite;
    padding-left: 600px;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite;


}

footer {
    color: aliceblue;
}


